body{
    font-family: 'Ariel', sans-serif;
    background-color: black;
}

header{
    background:#27272746;
    color: #fff;
    padding: 1em 0;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li{
    padding: 1em;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
}

.hero{
    background:  rgba(71, 71, 71, 0);
    background-size: cover;
    padding: 100px;
    text-align: center;
    color: #e7e7e7;
}

.container-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    ". art . "
    ". blog . ";
    grid: 10px;
}

.art {
    grid-area: art;
    background: #0a460d41;
    margin: 1em;
    padding:1em;
    text-align: center;
    color: white;
    border-color: #ffffff77;
    border-style: solid;
    width: 500px;
    height: 200px;
}

.blog {
    grid-area: blog;
    background: #0a460d41;
    margin: 1em;
    padding:1em;
    text-align: center;
    color: white;
    border-color: #ffffff77;
    border-style: solid;
    width: 500px;
    height: 200px;
}

.contact {
    justify-content: center;
    align-content: center;
    justify-items: center;
    margin: auto;
    display: grid;

}

h2 {
    font-size: 2em;
    font-weight: 300;
    margin: 0.25em 0;
    color: white;
}

.container-2 {
    margin: auto;
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 10px;
    padding: 100px;
    max-width: 250px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    ". x yt ."
    ". ln dc .";
}

.x, .yt, .ln, .dc {
    background: black;
    margin: auto;
    padding: 1em;
    text-align: center;
    color: white;
    border-color: #0a460d41;
    border-style: solid;
    border-radius: 10px;
    width: 74px;
    height: 74px;
   
}

.x {
    grid-area: x;
}

.yt {
    grid-area: yt;
}

.ln {
    grid-area: ln;
}

.dc {
    grid-area: dc;
}

.blog article{
    background: #27272746;
    margin: 1em;
    padding:1em;
    text-align: center;
    color: white;
}

footer{
    background: #00000046;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.logo {
    width: 75px;
    height: 75px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}